@font-face {
  font-family: 'IRANSansWeb';
  src: url('./assets/font/IRANSansWeb.woff2') format('woff2'),
      url('./assets/font/IRANSansWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSansWeb;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
